.footer {
  background-color: #0e0e0e;
  color: white;
  padding: 60px 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-left {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  font-weight: 800;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons i {
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons i:hover {
  color: gray;
}


.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-column h4 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #bfbfbf;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  font-size: 14px;
  margin-bottom: 8px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-column li:hover {
  color: #ccc;
}

