
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.main {
  background-image: url(verido.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}


.logo {
  color: #fff;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0.85;
  text-align: center;
  text-shadow: 0 0 5px rgba(255,255,255,0.4),
               1px 1px 2px rgba(0,0,0,0.2);
  z-index: 1000;
}

.menu {
  display: flex;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1000;
  gap: 20px;
}

.menu select {
  border: none;
  background: transparent;
  outline: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

option {
  color: #fff;
  background-color: #000;
}


.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  position: fixed;
  top: 30px;
  right: 40px;
  z-index: 1000;
}

button {
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

button:hover {
  color: rgb(200, 200, 200);
}


.shop {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.shop h2 {
  font-size: 4em;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 10px;
}

.shop button {
  background-color: #fff;
  color: black;
  padding: 10px 25px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.shop button:hover {
  background-color: rgb(8, 6, 6);
  color: white;
}

@media (max-width: 1024px) {
  .logo {
    font-size: 1.8em;
    top: 15px;
  }

  .menu {
    display: flex;
    position: fixed;
    top: 30px;
    left: 30px;
   gap: 20px;
z-index: 1000;
  }
 

  .icons {
    top: 20px;
    right: 20px;
    gap: 15px;
  }

  .shop h2 {
    font-size: 3em;
  }
}

@media (max-width: 1024px) {
  .menu {
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    gap: 25px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
  }
   .menu select{
    color: #fff;
    font-size: 1rem;
  }

  .logo {
    font-size: 1.4em;
    top: 15px;
  }

  .icons {
    top: 20px;
    right: 15px;
    gap: 10px;
  }

  .shop h2 {
    font-size: 2em;
  }

  .shop button {
    font-size: 0.9em;
    padding: 8px 18px;
  }
}